
# Common N8N configuration
x-n8n: &service-n8n
  image: n8nio/n8n:latest
  environment:
    - DB_TYPE=postgresdb
    - DB_POSTGRESDB_HOST=db
    - DB_POSTGRESDB_USER=postgres
    - DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
    - DB_POSTGRESDB_DATABASE=postgres
    - N8N_DIAGNOSTICS_ENABLED=false
    - N8N_PERSONALIZATION_ENABLED=false
    # - N8N_ENCRYPTION_KEY
    # - N8N_USER_MANAGEMENT_JWT_SECRET
    - WEBHOOK_URL=${N8N_HOSTNAME:+https://}${N8N_HOSTNAME:-http://localhost:5678}

### Services setup ###
services:
  crawl4ai:
    container_name: crawl4ai
    image: unclecode/crawl4ai:latest
    ports:
      - 11235:11235

  n8n-import:
    <<: *service-n8n
    container_name: n8n-import
    entrypoint: /bin/sh
    command:
      - "-c"
      - "n8n import:credentials --separate --input=/backup/credentials && n8n import:workflow --separate --input=/backup/workflows"
    volumes:
      - ./source/n8n/backup:/backup

  n8n:
    <<: *service-n8n
    container_name: n8n
    restart: unless-stopped
    ports:
      - 5678:5678
    volumes:
      - n8n_storage:/home/node/.n8n
      - ./source/n8n/backup:/backup
      - ./shared:/data/shared
    depends_on:
      n8n-import:
        condition: service_completed_successfully
      db_vec:
        condition: service_healthy

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080

  # PostgreSQL with pgvector extension for vector storage
  db_vec:
    container_name: db
    # image: timescale/timescaledb-ha:pg18
    image: timescale/timescaledb:latest-pg18
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 4
    ports:
      - 5432:5432
    env_file:
      - path: .env
        required: true
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: postgres
    volumes:
      - timescaledb_data:/var/lib/postgresql/data


volumes:
  n8n_storage:
  timescaledb_data:

networks:
  default:
    name: agenticrag_network